<a href="/">Voltar</a>
<div class="container">

    <form action="/message/update/" method="POST">
        <input type="hidden" name="id" value="{{message.id}}">
        <input type="text" name="description" value="{{message.description}}">
        <input type="submit" value="Editar">
    </form>

</div>