<div class="container">
    <form action="/message/create" method="POST">
        <input type="text" name="description" placeholder="Digite sua tarefa">
        <input type="submit" value="Enviar">
    </form>

   
        {{#each list}}
         <div class="list">
        <p>{{this.description}}</p>
            <a href="/message/edit/{{this.id}}">Editar</a>
            <a href="/message/delete/{{this.id}}">Apagar</a>
     
        </div>
        {{/each}}
    
</div>