<div class="container">
    <form action="/message/create" method="POST">
        <input type="text" name="description" placeholder="Digite sua tarefa">
        <input type="submit" value="Enviar">
    </form>

    <div class="list">
        {{#each list}}
        <p>{{this.description}}
            <a href="/message/edit/{{this.id}}">Editar</a>
            <a href="/message/delete/{{this.id}}">Apagar</a>
        </p>
        {{/each}}
    </div>
</div>