.container{
    text-align: center;
}
.container .list{
    text-align: center;
    height: 100px;
    width: 100px;
    margin-top: 15px;
    display: inline-block;
    background-color: gray;
    border-radius: 10px;
}

.container a{
    text-decoration: none;
    color: white;
}
a{
    text-decoration: none;
}